{% extends 'app/layout.html' %}
{% load staticfiles %}
{% block content %}

      <div class="row height justify-content-center align-items-center">


        <div class="button-group-area mt-10">

          <h2>Hi you are right here Just refresh page view the seminars</h2>

          <div class="button-group-area mt-10">
            <button type="button" class="btn btn-primary">
              <a style="color:white"href="{% url 'app:session_list' %}" class="genric-btn info-border circle">Click here to see the List</a>
            </button>
          </div>
        </div>

      </div>

<!-- End Banner Area -->
<div class="main-wrapper">

  <!-- Start Feature Area -->
  <section class="featured-area">
    <div class="container">
      <div class="row">
        <div c
      </div>
    </div>
  </section>
<!-- Intro section end -->
{% endblock %}
